<h2><center>Week 5 - Assignment</center></h2>
<h3><center>Programming for Data Science 2024</center></h3>

Exercises for the topics covered in the fifth lecture.

The exercise will be marked as passed if you get **at least 10/15** points.

Exercises must be handed in via **ILIAS** (Homework assignments). Deliver your submission as a compressed file (zip) containing one .py or .ipynb file with all exercises. The name of both the .zip and the .py/.ipynb file **must** be *SurnameName* of the two members of the group. Example: Riccardo Cusinato + Athina Tzovara = *CusinatoRiccardo_TzovaraAthina.zip* .

It's important to use comments to explain your code and show that you're able to take ownership of the exercises and discuss them.

You are not expected to collaborate outside of the group on exercises and submitting other groupsâ€™ code as your own will result in 0 points.

For questions contact: *riccardo.cusinato@unibe.ch* with the subject: *Programming for Data Science 2024*.

**Deadline: 14:00, March 28, 2024.**

<h3 style="text-align:left;">Exercise 1 - Fitbit dataset<span style="float: right">3 points</span></h3>

We will work with three datasets - 'activity.csv', 'calories.csv', and 'last_participant.csv', which contains activity tracker data from https://www.kaggle.com/datasets/arashnic/fitbit

If you are unable to do this exercise, you can load the dataset 'combined_solution.csv' for the next exercise.

1. **Data preparation** (*1 point*)

    - Load the two datasets 'activity.csv' and 'calories.csv'.
    - Use pd.to_datetime to standardize the ActivityDate columns (https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html)

In [1]:
###

import pandas as pd
import numpy as np 

# Load activity dataset 
df_activity = pd.read_csv('./data/activity.csv')
# Standardize the ActivityDate column
df_activity['ActivityDate'] = pd.to_datetime(df_activity["ActivityDate"], format='mixed') # format='mixed', to get rid of the warning: 'UserWarning: Could not infer format'
# Display 3 lines of the activity dataset 
print(df_activity.head(3), "Activity DataSet")

# Load calories dataset 
df_calories = pd.read_csv('./data/calories.csv')
# Standardize the ActivityDate column
df_calories['ActivityDate'] = pd.to_datetime(df_calories["ActivityDate"], format='mixed')
# Display 3 lines of the calories dataset 
print(df_calories.head(3), "Calories DataSet")


###

           ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0  1503960366   2016-04-12     13162.0           8.50                1.88
1  1503960366   2016-04-13     10735.0           6.97                1.57
2  1503960366   2016-04-14     10460.0           6.74                2.44

   ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                      0.55                 6.06                 25
1                      0.69                 4.71                 21
2                      0.40                 3.91                 30

   FairlyActiveMinutes  LightlyActiveMinutes
0                   13                   328
1                   19                   217
2                   11                   181   Activity DataSet
           ID ActivityDate  Calories
0  1624580081   2016-04-12    1432.0
1  1624580081   2016-04-13    1411.0
2  1624580081   2016-04-14    1572.0 Calories DataSet

2. **Merging** (*1 point*)

    - Consider what information is shared between the two datasets and merge them. Keep in mind that the order of rows is not the same in both datasets!
    - Print out the mean "TotalSteps" of the merged DataFrame at this point.

In [3]:
###

# Display name columns from each data set 
print(df_activity.columns, "activity columns")
print(df_calories.columns,"calories columns")

# Both DataFrames share ID and ActivityDate columns, we merge based on both
df_merged = pd.merge(df_activity, df_calories, on=['ID', 'ActivityDate'], how='outer')
print(df_merged)

# Get the mean value of the merged dataset of the column TotalSteps
# Because there are NaN values, we skip them to calculate the mean
print(df_merged['TotalSteps'].isna())
mean_total_steps = df_merged['TotalSteps'].mean(skipna=True)

# Display the mean value of TotalSteps
print("Mean TotalSteps:", mean_total_steps)

###

Index(['ID', 'ActivityDate', 'TotalSteps', 'TotalDistance',
       'VeryActiveDistance', 'ModeratelyActiveDistance', 'LightActiveDistance',
       'VeryActiveMinutes', 'FairlyActiveMinutes', 'LightlyActiveMinutes'],
      dtype='object') activity columns
Index(['ID', 'ActivityDate', 'Calories'], dtype='object') calories columns
             ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0    1503960366   2016-04-12     13162.0           8.50                1.88
1    1503960366   2016-04-13     10735.0           6.97                1.57
2    1503960366   2016-04-14     10460.0           6.74                2.44
3    1503960366   2016-04-15      9762.0           6.28                2.14
4    1503960366   2016-04-16     12669.0           8.16                2.71
..          ...          ...         ...            ...                 ...
904  8792009665   2016-05-06         NaN           0.00                0.00
905  8792009665   2016-05-07         NaN           0.00                0.00
906  8792009665   2016-05-08         NaN           0.00                0.00
907  8792009665   2016-05-09         NaN           0.00                0.00
908  8792009665   2016-05-10         NaN           0.00                0.00

     ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                        0.55                 6.06                 25
1                        0.69                 4.71                 21
2                        0.40                 3.91                 30
3                        1.26                 2.83                 29
4                        0.41                 5.04                 36
..                        ...                  ...                ...
904                      0.00                 0.00                  0
905                      0.00                 0.00                  0
906                      0.00                 0.00                  0
907                      0.00                 0.00                  0
908                      0.00                 0.00                  0

     FairlyActiveMinutes  LightlyActiveMinutes  Calories
0                     13                   328    1985.0
1                     19                   217       NaN
2                     11                   181    1776.0
3                     34                   209    1745.0
4                     10                   221    1863.0
..                   ...                   ...       ...
904                    0                     0    1688.0
905                    0                     0    1688.0
906                    0                     0    1688.0
907                    0                     0    1688.0
908                    0                     0       NaN

[909 rows x 11 columns]
0      False
1      False
2      False
3      False
4      False
       ...
904     True
905     True
906     True
907     True
908     True
Name: TotalSteps, Length: 909, dtype: bool
Mean TotalSteps: 7786.438763376932

3. **Concatenation** (*1 point*)

    - The data of one additional participant exists in 'last_participant.csv'. Load this dataset and concatenate it with the merged dataset generated above
    - Print out the mean "TotalSteps" again

In [4]:
###

# Load the last_participan dataset
df_last_participant = pd.read_csv('./data/last_participant.csv')
# Standardize the ActivityDate column
df_last_participant['ActivityDate'] = pd.to_datetime(df_last_participant["ActivityDate"],  format='mixed')
# Display the first 3 lines of the dataset 
print(df_last_participant.head(3), "last_participant DataSet")

# Concatenate df_merged from the previous task with the last_participant dataset
df_concatenated = pd.concat([df_merged,df_last_participant])
# Display the first 3 lines of concatenated DataFrame
print(df_concatenated.head(3), "DataFrame contatenated")

# Get the mean of TotalSteps from the concatenated data 
mean_total_steps_merged = df_concatenated['TotalSteps'].mean()
print("Mean TotalSteps:", mean_total_steps_merged)

# # Check the mean of TotalSteps from the solution file
# df_combine_solution = pd.read_csv('combined_solution.csv')
# mean_total_steps_solution = df_combine_solution['TotalSteps'].mean()
# print("Mean TotalSteps:", mean_total_steps_solution)

###

           ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0  8792009665   2016-12-04        2564           1.64                 0.0
1  8792009665   2016-04-13        1320           0.84                 0.0
2  8792009665   2016-04-14        1219           0.78                 0.0

   ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                       0.0                 1.64                  0
1                       0.0                 0.84                  0
2                       0.0                 0.78                  0

   FairlyActiveMinutes  LightlyActiveMinutes  Calories
0                    0                   116      2044
1                    0                    82      1934
2                    0                    84      1963   last_participant DataSet
           ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0  1503960366   2016-04-12     13162.0           8.50                1.88
1  1503960366   2016-04-13     10735.0           6.97                1.57
2  1503960366   2016-04-14     10460.0           6.74                2.44

   ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                      0.55                 6.06                 25
1                      0.69                 4.71                 21
2                      0.40                 3.91                 30

   FairlyActiveMinutes  LightlyActiveMinutes  Calories
0                   13                   328    1985.0
1                   19                   217       NaN
2                   11                   181    1776.0   DataFrame contatenated
Mean TotalSteps: 7879.460599334073

<h3 style="text-align:left;">Exercise 2 - Working with missing data<span style="float: right">5 points</span></h3>

In our dataset, some values are missing from the 'TotalSteps' and 'Calories' columns.

We can try to approximate these missing values with the data we got. 

You can load the dataset 'combined_solution.csv' if you were unable to complete the previous exercise.

1. **Filling in missing values** (*3 points*)

    - Calculate the mean steps per calory burnt and mean calories burnt per step, by averaging across all observations in the dataset and then computing the ratio. Print out both values.
    - Fill in the null values in the columns 'Calories' and 'TotalSteps' where possible. To fill the values you have to use the factors *"TotalSteps/Calories"* and *"Calories/TotalSteps"* calculated in the previous point, using one of the two information to fill the other.
    - Print out the mean of the columns 'TotalSteps' and 'Calories' before and after filling the missing values.

In [7]:
##

# Create a copy to compare then missing values before and after filling
df_filled = df_concatenated.copy()

# Calculate the mean steps and calories
mean_total_steps = df_filled["TotalSteps"].mean()
mean_total_calories = df_filled["Calories"].mean()

# Display means before filling NaN values
print("Mean steps before filling NaN:", mean_total_steps)
print("Mean calories before filling NaN:", mean_total_calories)

# Calculate the mean steps per calorie burnt and mean calories per step
mean_steps_per_calorie = mean_total_steps / mean_total_calories
print("Mean steps per calorie:", mean_steps_per_calorie)
mean_calories_per_step = mean_total_calories / mean_total_steps
print("Mean calories per step:", mean_calories_per_step)

# Fill the values in columns calories and total steps with each factor with fillna()
df_filled["Calories"] = df_filled["Calories"].fillna(df_filled["TotalSteps"] / mean_steps_per_calorie)
df_filled["TotalSteps"] = df_filled["TotalSteps"].fillna(df_filled["Calories"] / mean_calories_per_step)

# Display means after filling values
mean_total_steps_after_fill = df_filled["TotalSteps"].mean()
print("Mean total steps after fill:", mean_total_steps_after_fill)
mean_total_calories_after_fill = df_filled["Calories"].mean()
print("Mean total calories after fill:", mean_total_calories_after_fill)

Mean steps before filling NaN: 7879.460599334073
Mean calories before filling NaN: 2310.661987041037
Mean steps per calorie: 3.4100446727062272
Mean calories per step: 0.29325129022617624
Mean total steps after fill: 7785.911198419612
Mean total calories after fill: 2302.939349901768

2. **Dropping missing values** (*2 points*)

    - Print how many null values there are in the 'Calories' and 'TotalSteps' columns, respectively.
    - Drop the rows where **both** 'Calories' and 'TotalSteps' are missing.
    - Print number of rows in the final dataset.

In [8]:
###

# Display NaN values in calories and TotalSteps
calories_na = df_filled["Calories"].isna().sum()
print("Total NaN in Calories:", calories_na)

total_steps_na = df_filled["TotalSteps"].isna().sum()
print("Total NaN in TotalSteps:", total_steps_na)

# Drop rowa of both calories and TotalSteps for all rows (axis 0)
df_drop_na = df_filled.dropna(subset=["Calories", "TotalSteps"], how="all", axis=0)
print(df_drop_na)

# Check the final number of row with len()
print("Number of rows before dropping NaN:",len(df_filled))
print("Number of rows of the final dataset:", len(df_drop_na))


###

Total NaN in Calories: 13
Total NaN in TotalSteps: 13
            ID ActivityDate  TotalSteps  TotalDistance  VeryActiveDistance  \
0   1503960366   2016-04-12     13162.0       8.500000                1.88
1   1503960366   2016-04-13     10735.0       6.970000                1.57
2   1503960366   2016-04-14     10460.0       6.740000                2.44
3   1503960366   2016-04-15      9762.0       6.280000                2.14
4   1503960366   2016-04-16     12669.0       8.160000                2.71
..         ...          ...         ...            ...                 ...
55  8877689391   2016-08-05     10686.0       8.110000                1.08
56  8877689391   2016-09-05     20226.0      18.250000               11.10
57  8877689391   2016-10-05     10733.0       8.150000                1.35
58  8877689391   2016-11-05     21420.0      19.559999               13.22
59  8877689391   2016-12-05      8064.0       6.120000                1.82

    ModeratelyActiveDistance  LightActiveDistance  VeryActiveMinutes  \
0                       0.55                 6.06                 25
1                       0.69                 4.71                 21
2                       0.40                 3.91                 30
3                       1.26                 2.83                 29
4                       0.41                 5.04                 36
..                       ...                  ...                ...
55                      0.20                 6.80                 17
56                      0.80                 6.24                 73
57                      0.46                 6.28                 18
58                      0.41                 5.89                 88
59                      0.04                 4.25                 23

    FairlyActiveMinutes  LightlyActiveMinutes     Calories
0                    13                   328  1985.000000
1                    19                   217  3148.052601
2                    11                   181  1776.000000
3                    34                   209  1745.000000
4                    10                   221  1863.000000
..                  ...                   ...          ...
55                    4                   245  2847.000000
56                   19                   217  3710.000000
57                   11                   224  2832.000000
58                   12                   213  3832.000000
59                    1                   137  1849.000000

[956 rows x 11 columns]
Number of rows before dropping NaN: 969
Number of rows of the final dataset: 956

<h3 style="text-align:left;">Exercise 3 - Multi-index<span style="float: right">7 points</span></h3>

In this exercise you will create and manipulate a multi-index dataframe. First, let's create the dataframe for the exercise:

In [7]:
import pandas as pd

df = pd.DataFrame(
    {
        "idx": [0, 1, 2],
        "A_X": [1.1, 1.1, 1.1],
        "A_Y": [1.2, 1.2, 1.2],
        "B_X": [1.11, 1.11, 1.11],
        "B_Y": [1.22, 1.22, 1.22],
    }
)

1. Set the column *idx* as the index of the dataframe. (*1 point*)

In [8]:
###

# Display the DataFrame created
print(df)

# Set column idx as index with set_index
df_indexed = df.set_index(["idx"])
# Display the the DataSet with the change
df_indexed

###

   idx  A_X  A_Y   B_X   B_Y
0    0  1.1  1.2  1.11  1.22
1    1  1.1  1.2  1.11  1.22
2    2  1.1  1.2  1.11  1.22

     A_X  A_Y   B_X   B_Y
idx
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

2. Create a multi-column stucture. (*3 points*)
    - Set the columns *A, B* on the first level and *X, Y* on the second level, taken from the combinations in the original dataframe. 
    - Set the names of the two new levels as "L1" and "L2", respectively. 
    - Print the resulting dataframe.

In [9]:
###

# Create a multi-column structure from tuples where level 0 (first level) is A, B, and level 1 (second level) corresponds to X and Y values.
# then, assign corresponding values of X and Y to each level and 
# assign names L1 and L2 to the levels respectively.
# get names from preexisting df, not to type it by hand
level1 = df_indexed.columns.str.split('_').str[0].unique()
level2 = df_indexed.columns.str.split('_').str[1].unique()

# Create a MultiIndex
multi_index = pd.MultiIndex.from_product([level1, level2], names=['L1', 'L2'])

# Assign the MultiIndex to the DataFrame columns
df_indexed.columns = multi_index
# Display the resulting dataframe
print(df_indexed)


# Check the name of column levels 
print()
print(df_indexed.columns.levels[0], "first level")
print(df_indexed.columns.levels[1], "second level")
###

L1     A          B
L2     X    Y     X     Y
idx
0    1.1  1.2  1.11  1.22
1    1.1  1.2  1.11  1.22
2    1.1  1.2  1.11  1.22

Index(['A', 'B'], dtype='object', name='L1') first level
Index(['X', 'Y'], dtype='object', name='L2') second level

3. From the previous dataframe, re-create a dataframe with a single column level. (*3 points*)
    - Create a new column from the first level (L1) of the multi-column. At this point your columns should be ['L1', 'X', 'Y'], with name 'L2'. **NB** The DataFrame method *reset_index* is useful for this part.
    - Rename the newly-created column as "letter" and the name of the column level as "L". Use the appropiate pandas methods for this.
    - Print the resulting dataframe.

In [15]:
###

# Create a new column from the 'L1', which is level 0 in the DataFrame, using stack
df_stacked = df_indexed.stack(level=0)
print("DataFrame with new column created")
print(df_stacked)
print()
# and then convert the created column to a single column level 
df_single_level = df_stacked.reset_index()
print("DataFrame with single level")
print(df_single_level)
print()

# Rename the column 'L1' to letter
df_single_level = df_single_level.rename(columns={'L1': 'letter'})
# Rename 'L2' to 'L1'
print("Previous column names: ", df_single_level.columns.names)
df_single_level.columns.names = ['L']

# Display the resulting DataFrame
print("DataFrame with single level and renamed columns")
print(df_single_level)

###

DataFrame with new column created
L2         X     Y
idx L1
0   A   1.10  1.20
    B   1.11  1.22
1   A   1.10  1.20
    B   1.11  1.22
2   A   1.10  1.20
    B   1.11  1.22

DataFrame with single level
L2  idx L1     X     Y
0     0  A  1.10  1.20
1     0  B  1.11  1.22
2     1  A  1.10  1.20
3     1  B  1.11  1.22
4     2  A  1.10  1.20
5     2  B  1.11  1.22

Previous column names:  ['L2']
DataFrame with single level and renamed columns
L  idx letter     X     Y
0    0      A  1.10  1.20
1    0      B  1.11  1.22
2    1      A  1.10  1.20
3    1      B  1.11  1.22
4    2      A  1.10  1.20
5    2      B  1.11  1.22